<ion-header>
  <ion-toolbar>
        
        <ion-buttons slot="start">
          <ion-back-button text="Regresar" defaultHref="/inicio"></ion-back-button>
        </ion-buttons>

    <ion-title>About me</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="" padding>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <h3>Acerca de mi</h3>
            <h5>Hola Mundo</h5>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ea dolorum adipisci 
                consequuntur animi cupiditate quia labore cum, quasi rem consectetur 
                sequi facilis illo molestiae quibusdam optio, porro necessitatibus, itaque totam!
              </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>